@media (min-width: 720px) and (max-width: 2560px) {
    .main {
         width: 100%;
         min-height: calc(100vh - 50px - 50px);
         background-color: #fff;
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         padding: 30px;
         grid-gap: 30px; /* Свойство grid-gap CSS задаёт отступы между колонками и рядами*/
    }
    .h1 {
        position: relative;
        left: 70px;
        top: 20px;
        display: flex; 
        align-items: center;
        justify-content: center;
        color:rgb(88, 87, 87);
    }
    .calculators {
        width: 100%;
         min-height: calc(100vh - 50px - 50px);
         background-color: #fff;
    }
    }